

body,ul,li,div,p,span,h1,h2,h3,h4,h5,h6,i,a{
    margin: 0;padding:0;
} 

body{
   background-color:black;
}

.col-md-6{
    height: 500px;

}

.col-md-6{
    margin-top: 80px;
}
.mynav{
    background-color:black!important;
    color: white!important;;
    }
    
.mynav a{
    color: white!important;
    font-size: 20px;
    padding-right: 30px!important;
    }

.row{
    color: white;
    padding: 20px;
}
.row h3{
    color: red;
    padding: 20px;
    font-size: 35px;
}
.row h1{
    color:  yellow;
    padding: 20px;
}
.row p{
    color: white;
    font-size: 25px;
}
.about{
    color: aqua;
    font-size: 25px;
    margin-top: 28px;
    padding: 35px;
}
.form{
    margin-top: 30px;
}
.iam{
    width: 550px;
    background-color: white;
    box-shadow: 0 0 20px 0 lightcoral;
    margin-top: 50px;
    margin-left: 50px;
}
.form{
    margin: 30px;
    margin-top: 45px;

}
.input-field{
    width: 400px;
    height: 45px;
    margin-top: 15px;
    padding-left: 10px;
}